<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>课程</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="__PUBLIC__/kecheng/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/kecheng/css/common.css">
<link rel="stylesheet" href="__PUBLIC__/kecheng/css/index.css">
</head>
<body>
	<div class="wrap">
		<div class="nav-box">
			<div class="w1000">
				<img src="" class="fl logo" /> <a href="" class="fr enroll"></a>
			</div>
		</div>

		<div class='container'>
			<div class="submit-box">
				<form action="" method="">
					<p class="title">报名表</p>
					<div class="line cf">
						<p class="fl">姓名：</p>
						<input type="text" class="fl">
					</div>
					<div class="line cf">
						<p class="fl">学习课程：</p>
						<select style="width: 196px;height: 32px;font-size: 15px">
							<option value="0">请选择...</option>
							<foreach name="lessons_register" item="i">
							<option value="{$i.id}">{$i.name} - {$i.open_date}</option>
							</foreach>
						</select>
					</div>
					<div class="line cf">
						<p class="fl">联系电话：</p>
						<input type="text" class="fl">
					</div>
					<div class="line cf">
						<p class="fl">QQ/微信：</p>
						<input type="text" class="fl">
					</div>
					<button class="submit-btn">提交报名</button>
				</form>
			</div>
			<div class='iosSlider'>
				<div class='slider'>
					<foreach name="galleries" item="i">
						<div class='item'>
							<img src="{$i.image_url}" />
						</div>
					</foreach>
				</div>

				<div class='prevContainer'>
					<div class='prev'></div>
				</div>

				<div class='nextContainer'>
					<div class='next'></div>
				</div>

				<div class='selectorsBlock'>

					<div class='selectors'>
						<for start="0" end="$galleriesCount">
							<if condition="$i eq 0">
								<div class='item first selected'></div>
							<else /> 
								<div class='item'></div>
							</if>
						</for>
					</div>

				</div>

			</div>

		</div>

		<div class="icons-box">
			<a href="#" class="i1"></a> <a href="#" class="i2"></a> <a href="#"
				class="i3"></a> <a href="#" class="i4"></a> <a href="#" class="i5"></a>
		</div>
		<div class="course-box">
			<div class="title"></div>
			<div class="course-line cf">
				<foreach name="productMajors" item="i" key="k">
				<if condition="$k eq 0">
						<div class="fl course-wrap mr">
				<else /> 
						<div class="fl course-wrap ">
				</if>
		
					<div class="course">
						<div class="popup">
							<p class="course-title">{$i.name}</p>
							<div class="cf sub-title">
								<p class="fl">{$i.type_name}</p>
								<a href="#pro" onclick="$('#pro').click()" class="fr">查看课程</a>
							</div>
						</div>
					</div>
					<div class="intro-box">
						<p class="t">{$i.descs}</p>
						<p class="b">
							<span class="del">原价：{$i.old_price}元</span><span class="act">活动优惠价：<em>{$i.price}元</em></span>
						</p>
					</div>
				</div>
				</foreach>
				
			</div>

			<div class="course-line cf">
				<foreach name="uiMajors" item="i" key="k">
				<if condition="$k eq 0">
						<div class="fl course-wrap mr">
				<else /> 
						<div class="fl course-wrap ">
				</if>
		
					<div class="course">
						<div class="popup">
							<p class="course-title">{$i.name}</p>
							<div class="cf sub-title">
								<p class="fl">{$i.type_name}</p>
								<a href="#ui" onclick="$('#ui').click()" class="fr">查看课程</a>
							</div>
						</div>
					</div>
					<div class="intro-box">
						<p class="t">{$i.descs}</p>
						<p class="b">
							<span class="del">原价：{$i.old_price}元</span><span class="act">活动优惠价：<em>{$i.price}元</em></span>
						</p>
					</div>
				</div>
				</foreach>
			</div>
		</div>

		<div class="teach-box">
			<div class="title">
				所有讲师来自<em>BAT</em>等一线企业，负责过<em>亿级产品</em>，有<em>丰富授课经验</em>
			</div>
			<div class="list-box fir">
				<p class="sub-title">产品经理讲师</p>
				<ul class="cf">
					<foreach name="productTeachers" item="i" key="k">
					<li>
						<empty name="i.header_image">
							<img src="__PUBLIC__/kecheng/images/friends.png" class="fl">
						<else /> 
							<img src="{$i.header_image}" class="fl">
						</empty> 
						<div class="fr">
							<p class="name">{$i.name}</p>
							<p class="from">来自：{$i.come}</p>
							<p class="">职称：{$i.degree}</p>
						</div>
					</li>
					</foreach>
					
				</ul>
			</div>

			<div class="list-box">
				<p class="sub-title">UI讲师</p>
				<ul class="cf">
					<foreach name="uiTeachers" item="i" key="k">
					<li>
						<empty name="i.header_image">
							<img src="__PUBLIC__/kecheng/images/friends.png" class="fl">
						<else /> 
							<img src="{$i.header_image}" class="fl">
						</empty> 
						<div class="fr">
							<p class="name">{$i.name}</p>
							<p class="from">来自：{$i.come}</p>
							<p class="">职称：{$i.degree}</p>
						</div>
					</li>
					</foreach>

				</ul>
			</div>
		</div>

		<div class="kaike-box">
			<div class="title"></div>
			<table>
				<thead>
					<tr>
						<th>学习课程</th>
						<th>开课时间</th>
						<th>报名状态</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lessons" item="i">
					<tr>
						<td>{$i.name}</td>
						<td>{$i.open_date}开课</td>
						<td>
							<if condition="$i.state eq '报名中'">
								<a href="">我要报名</a>
							<else /> 
								{$i.state}
							</if>						
						</td>
					</tr>
					</foreach>
					
				</tbody>
			</table>
		</div>
		<div class="outline-box">
			<div class="cf tab">
				<p class="fl active" id="pro">产品经理大纲</p>
				<p class="fr" id="ui">UI课程大纲</p>
			</div>
			<p class="notice">注：根据每个不同，实际课程内容安排老师讲课大纲为主</p>
			<div class="cf" id="pro_div">
				<foreach name="productItems" item="i">
				<ul class="fl">
					<li class="title"><b>{$i.title}</b></li>
					<li>{$i.content}</li>
				</ul>
				</foreach>
			</div>
			<div class="cf" id="ui_div" style="display:none">
				<foreach name="uiItems" item="i">
				<ul class="fl">
					<li class="title"><b>{$i.title}</b></li>
					<li>{$i.content}</li>
				</ul>
				</foreach>
			</div>
		</div>
		
		<div class="footer">
			<div class="line"></div>
			<div class="inner">
				<div class="cf">
					<div class="fl left">
						<p class="contact">联系我们</p>
						<div class="method">
							<span>QQ:8888</span> <span>QQ:8888</span> <span>QQ:8888</span>
						</div>
						<p class="about">关于我们</p>
					</div>
					<div class="qr-box fr">
						<p>扫一扫 关注我们</p>
						<img src="" />
					</div>
				</div>
				<p class="copyright">版权所有：北京快剑客科技公司 All Right Reserved</p>
			</div>
		</div>


	</div>
	<script src="__PUBLIC__/kecheng/js/jquery.js"></script>
	<script src="__PUBLIC__/kecheng/js/jquery.easing.js"></script>
	<script src="__PUBLIC__/kecheng/js/jquery.iosslider.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#pro").click(function(){
				$("#pro").addClass('active');
				$("#ui").removeClass('active');
				
				$("#pro_div").show();
				$("#ui_div").hide();
			});
			
			$("#ui").click(function(){
				$("#ui").addClass('active');
				$("#pro").removeClass('active');
				
				$("#ui_div").show();
				$("#pro_div").hide();
			});
		});
	
		$(document).ready(function() {
			$('.iosSlider').iosSlider({
				snapToChildren : true,
				desktopClickDrag : true,
				keyboardControls : true,
				navNextSelector : $('.next'),
				navPrevSelector : $('.prev'),
				navSlideSelector : $('.selectors .item'),
				onSlideChange : slideChange
			});

			$(".kaike-box tbody tr:even").css("background", "#F6F6F6");

		});

		function slideChange(args) {
			$('.selectors .item').removeClass('selected');
			$('.selectors .item:eq(' + (args.currentSlideNumber - 1) + ')')
					.addClass('selected');
		}
	
	</script>
</body>
</html>