<extend name="./template" />

<block name="content">

<form action="__URL__/create" enctype="multipart/form-data"	method="post" id="form1">
	
	<table align='center' cellspacing="2" cellpadding="2">
		<tr>
			<td>名称：</td>
			<td><input class="easyui-validatebox textbox" name="name" data-options="required:true"/></td>
		</tr>
		<tr>
			<td>大纲:</td>
			<td>
				<input type="radio" name="profile_id" id="p1" value=1 checked>产品经理 &nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="profile_id" id="p1" value=2>UI设计师 &nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td>开课时间：</td>
			<td><input class="easyui-validatebox textbox" name="open_date" data-options="required:true"/></td>
		</tr>
		<tr>
			<td>状态：</td>
			<td>报名中</td>
		</tr>
		<tr>
			<td colspan=2 align=center>
			<a	href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'"
			onclick="wg.create()">提交</a></td>
		</tr>
	</table>
</form>

<script>
	var wg = {
		create : function() {
			if ($("#form1").form('validate')) {
				document.getElementById("form1").submit();
			}
		}
    }
</script>

</block>