<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>酷壳助手后台</title>
<link href="__PUBLIC__/jqueryeasyui/themes/metro-blue/easyui.css" rel="stylesheet">
<link href="__PUBLIC__/jqueryeasyui/themes/color.css"	rel="stylesheet">
<link href="__PUBLIC__/jqueryeasyui/themes/icon.css" rel="stylesheet"	type="text/css">
<script src="__PUBLIC__/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/jqueryeasyui/jquery.easyui.min.js"></script>
<script src="__PUBLIC__/jqueryeasyui/locale/easyui-lang-zh_CN.js"></script>
<script src="__PUBLIC__/jquery.extend.js"></script>
<script src="__PUBLIC__/common.js"></script>

</head>
<body>
	<div>
		<block name="content">内容</block>
	</div>
</body>
</html>
