@CHARSET "UTF-8";
.wrap {
	width: 1200px;
	margin: 0 auto;
}

.nav-box {
	width: 100%;
	height: 80px;
	background: rgb(255, 159, 23);
}

.nav-box .logo {
	margin-left: 30px
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
}

.enroll {
	width: 138px;
	height: 64px;
	background: url(../images/enroll.png) 0 0 no-repeat;
	margin-top: 11px;
}

.submit-box {
	position: absolute;
	top: 20px;
	right: 100px;
	z-index: 3
}

.submit-box .line {
	margin-bottom: 20px;
}

.submit-box .title {
	margin-left: 60px;
	font-size: 1.8em;
	color: rgb(225, 159, 23);
	margin-bottom: 5px
}

.submit-box p {
	color: #FFF;
	margin-top: 13px;
	width: 100px;
	text-align: right;
	font-size: 1.3em
}

.submit-box input {
	width: 194px;
	height: 23px;
	padding: 2px;
	font-size: 15px
}

.submit-btn {
	display: block;
	width: 200px;
	border: 0;
	background: rgb(184, 115, 17);
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border-radius: 20px;
	margin: 10px auto;
	font-size: 1.5em
}

.icons-box {
	text-align: center;
	padding: 20px 0;
	background: #FFF
}

.icons-box a {
	display: inline-block;
	width: 148px;
	height: 148px;
	margin-right: 50px;
}

.icons-box a.i1 {
	background: url(../images/friends.png) 0 0 no-repeat;
}

.icons-box a.i2 {
	background: url(../images/follower.png) 0 0 no-repeat;
}

.icons-box a.i3 {
	background: url(../images/search.png) 0 0 no-repeat;
}

.icons-box a.i4 {
	background: url(../images/write.png) 0 0 no-repeat;
}

.icons-box a.i5 {
	background: url(../images/location.png) 0 0 no-repeat;
	margin-right: 0
}