<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width,user-scalable=no" name="viewport">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>照片上传</title>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<script src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>

<style type="text/css">
	body{
		margin:auto;
		padding:1rem;
		padding-top:5vh;
		font-family: '微软雅黑'
	}
</style>
</head>
<body>
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
         	上传   
         	<!-- <button type="button" class="btn btn-default btn-xs" style="float:right" onclick="location.href='{:U('manage')}'">
			  <span class="glyphicon glyphicon-user"></span> 管理
			</button> -->
      </h3>
      
   </div>
   <div class="panel-body">
	<form role="form" id="ff" method="post" action="__URL__/uploadx" enctype="multipart/form-data">
		<div class="form-group">
			<label for="name">名称<button type="reset" class="btn btn-link" id="reset">重置</button></label> 
			<input id="name" name="name" type="text" class="form-control" placeholder="请填写名称" required="required" 
			pattern="[a-zA-Z0-9_]+$" patternMismatch="字符不匹配" maxlength="35" autocomplete="off"/>
			<p class="help-block">支持数字、大小写字母、下划线字符，不用填写后缀</p>
		</div>
		<div class="form-group">
			<label for="photo">选择图片</label> 
			<input id='photo' name="photo" type="file" accept="image/*" required="required" />
			<p class="help-block">支持文件格式(.jpg、.jpeg、.png、.gif)，字节小于10M</p>
			<div>
				<img id="photo_pre" style="display:block;width:50%;" src="__PUBLIC__/images/pre.png"  class="img-rounded" >
			</div>
		</div>
		
		<button type="submit" id="sure" class="btn btn-primary" style="width:100%">提交</button>
	</form>
   </div>
</div>
<script type="text/javascript">
$(function() { 
    $('#photo').change(function() { 
        var file = this.files[0]; 
        var r = new FileReader(); 
        r.readAsDataURL(file); 
        $(r).load(function() { 
            $('#photo_pre').attr('src',this.result); 
        }) 
    });
    $("#reset").click(function(){
    	$('#photo_pre').attr('src','__PUBLIC__/images/pre.png'); 
    });
    
    $("#ff").submit(function(){
    	$("#sure").attr('disabled','disabled').removeClass('btn-primary').text('正在上传...');
    });
})
</script>
</body>
</html>