<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width,user-scalable=no" name="viewport">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>管理图片</title>
<link href="__PUBLIC__/jqueryeasyui/themes/bootstrap/easyui.css"
	rel="stylesheet">
<link href="__PUBLIC__/jqueryeasyui/themes/color.css" rel="stylesheet">
<link href="__PUBLIC__/jqueryeasyui/themes/icon.css" rel="stylesheet"
	type="text/css">
<script src="__PUBLIC__/jquery-1.7.1.min.js"></script>
<script src="__PUBLIC__/jqueryeasyui/jquery.easyui.min.js"></script>
<script src="__PUBLIC__/common.js"></script>
</head>
<style type="text/css">
body {
	margin: auto;
	padding: 1rem;
	padding-top: 1vh;
	font-family: '微软雅黑'
}
</style>
<body>
	<p style="margin-bottom: 0.2rem;">
		<input id='key' class="easyui-textbox"
			data-options="buttonText:'搜索',buttonIcon:'icon-search',prompt:'图片名称',onClickButton:function(){wg.search();}"
			style="width: 100%; height: 24px;">
	</p>
	<div id="p" class="easyui-panel" style="padding:0px;margin-bottom:0.2rem">
		<ul>
			<li>点击图片名称，进入二维码页面</li>
			<li>点击预览图，可下载图片</li>
		</ul>
	</div>
	<table id="tt" title="文件列表" style="width: auto;" toolbar="#toolbar">
		<thead>
			<tr>
				<th field="ck" checkbox="true"></th>  
				<th data-options="field:'id'">ID</th>
				<th data-options="field:'img_path',width:'20%'" formatter="wg.logoFormatter">预览图</th>				
				<th data-options="field:'img_name'" formatter="wg.nameFormatter">图片名称</th>
				<th data-options="field:'download_url',hidden:true">下载地址</th>
				<th data-options="field:'add_time'" formatter="wg.dateFormatter">上传时间</th>
			</tr>
		</thead>
	</table>
	<div id="toolbar" style="text-align:right">
		<a href="javascript:wg.removes()" class="easyui-linkbutton" iconcls="icon-clear" plain="true">删除</a> 
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{:U('index')}" class="easyui-linkbutton" iconcls="icon-add" plain="true">新增</a> 
	</div>

	<script type="text/javascript">
	$(document).ready(function() {
		wg.init();
		wg.search();
	});

	var wg = {
		init : function() {
			$('#tt').datagrid({
				title : '',
				nowrap : true,
				striped : true,
				border : true,
				collapsible : false,
				singleSelect:false,
				checkbox:true,
				pagination : true,
				fitcolumns : true,
				rownumbers : false,
				pageSize : 20,
				pageList : [ 20, 40, 50 ],
				height:$(window).height()*0.72
			});
		},
		search : function() {
			var url = '__URL__/search?key=' + $.trim($("#key").val()) + '&r=' + Math.random();
			$('#tt').datagrid({
				url : url
			});
		},
		edit : function() {
			var row = $('#tt').datagrid('getSelected');
			if (!row) {
				$.messager.alert("提示", "请选择专题");
			} else {
				location.href = "/kuke/L6gtabfw/Topic/edit/topic_id/" + row.topic_id;
			}
		},
		removes:function(){
			var selRows = $('#tt').datagrid('getSelections')  
	        if (selRows.length == 0) {  
	            $.messager.alert("提示", "请选择要删除的行！", "info");  
	            return;  
	        }
			
			var imgPaths = ""; 
			var names = "";
			var ids = "";  
            //批量获取选中行的评估模板ID  
            for (i = 0; i < selRows.length;i++) {  
            	ids = (ids == "" ?  selRows[i].id : (selRows[i].id + "," + ids));   
            	names = (names == "" ?  selRows[i].img_name : (selRows[i].img_name + "," + names));
            	imgPaths = (imgPaths == "" ?  selRows[i].img_path : (selRows[i].img_path + "," + imgPaths));   
            }  
            
            $.messager.confirm("确认","确定要删除选中记录吗？",function(r){
            	if(!r) return;
            	$.post('__URL__/removes',{ids:ids, imgPaths:imgPaths},function(obj){
            		if(obj.success){
            			$.messager.alert('提示', '删除成功！');
                        $("#tt").datagrid("reload");
            		}else{
            			$.messager.alert('提示', '删除失败，请联系管理员！', 'warning');
            		}
            	},'json');
            });
			
		},
		logoFormatter : function(value, row, index) {
			if (value) {
				return "<a href='"+row.download_url+"'><img src='__ROOT__/"+value+"' width='100%' valign='middle' /></a>";
			}
			return "";
		},
		nameFormatter : function(value, row, index) {
			if (value) {
				return "<a href='__URL__/detail?id="+row.id+"'>"+value+"</a>";
			}
			return "";
		},
		dateFormatter:function(value,row,index){
			if (value) {
				return value.substr(5);
			}
			return "";
		}
	}
	</script>
</body>
</html>