<extend name="./template" />

<block name="content">
<div class="easyui-tabs" style="">
	<div title="产品经理" style="padding: 10px">

		<foreach name="productTeachers" item="i" key="k">
		<table cellpadding=3 style="float: left;">
			<tr>
				<th></th>
				<td align=center><empty name="i.header_image"> <img
						src="__PUBLIC__/kecheng/images/friends.png" class="fl" width="69"
						height="69"> <else /> <a target="_blank"
						href="__ROOT__/{$i.header_image}" title="点击看大图"> <img
						src="__ROOT__/{$i.header_image}" class="fl" width="69" height="69">
					</a> </empty></td>
			</tr>
			<tr>
				<th>姓名</th>
				<td>{$i.name}</td>
			</tr>

			<tr>
				<th>来自</th>
				<td>{$i.come}</td>
			</tr>
			<tr>
				<th>级别</th>
				<td>{$i.degree}</td>
			</tr>

			<tr>
				<td colspan="2" align="center"><a href="__URL__/edit/id/{$i.id}"
					class="easyui-linkbutton"
					data-options="iconCls:'icon-edit', plain:true"></a> 
					<a href="#" class="easyui-linkbutton"
					data-options="iconCls:'icon-cancel', plain:true"
					onclick="wg.remove({$i.id})"></a></td>
			</tr>
		</table>
		</foreach>

	</div>
</div>
<br />
<div class="easyui-tabs" style="">
	<div title="UI设计师" style="padding: 10px">
		<foreach name="uiTeachers" item="i" key="k">
		<table cellpadding=3 style="float: left;">
			<tr>
				<th></th>
				<td align=center><empty name="i.header_image"> <img
						src="__PUBLIC__/kecheng/images/friends.png" class="fl" width="69"
						height="69"> <else /> <a target="_blank"
						href="__ROOT__/{$i.header_image}" title="点击看大图"> <img
						src="__ROOT__/{$i.header_image}" class="fl" width="69" height="69">
					</a> </empty></td>
			</tr>
			<tr>
				<th>姓名</th>
				<td>{$i.name}</td>
			</tr>

			<tr>
				<th>来自</th>
				<td>{$i.come}</td>
			</tr>
			<tr>
				<th>级别</th>
				<td>{$i.degree}</td>
			</tr>

			<tr>
				<td colspan="2" align="center"><a href="__URL__/edit/id/{$i.id}"
					class="easyui-linkbutton"
					data-options="iconCls:'icon-edit', plain:true"></a> 
					<a href="#" class="easyui-linkbutton"
					data-options="iconCls:'icon-cancel', plain:true"
					onclick="wg.remove({$i.id})"></a></td>
			</tr>
		</table>
		</foreach>
	</div>
</div>
<script>
	var wg = {
			remove : function(id) {
				$.messager.confirm('确认', '删除后不可恢复，您确定要删除该记录吗？', function(r) {
					if (!r)
						return;
					$.getJSON('__URL__/delete', {
						id : id,
						r : Math.random()
					}, function(data) {
						if (data.success) {
							$.messager.alert('提示', data.message, 'info',
									function() {
										location.reload();
									});
						} else {
							$.messager.alert('提示', data.message, 'error');
						}
					});
				});
			}
	}
</script>
</block>